# First, ignore everything
*

# List directories to include
!src/*/.cpp
!src/*/.h
!src/BIT/SCI_parameter.h
!src/BIT/SCI_parameter.cpp
!src/Engineering/pass_through.h
!src/Engineering/pass_through.cpp
!.gitignore
!LICENSE.txt
!Readme.md
#!IDG_S2BGC_Iridium_format.pdf
!config/config.json
!config/diagnostic.json
!config/Engineering_Data.json
!config/default_meta.json
!config/mission.json
!example/4007_005.hex
!example/4007_005.json
# List files to include
!makefile
!src/version_increment.cpp
!src/version.cpp
!*/

