# First, ignore everything
*

# List directories to include
!src/**/.cpp
!src/**/.h
!.gitignore
!LICENSE.txt
!Readme.md
#!IDG_S2BGC_Iridium_format.pdf
!config/config.json
!config/diagnostic.json
!config/Engineering_Data.json
!config/meta_default.json
!config/mission.json
!example/4008_018.json
# List files to include
!makefile
!version_increment.cpp
!*/

